:root {
    --main-color:#072a5c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    background-color: #f4f4f4;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--main-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;;
}


#logoImg img{
    float: left;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-top: 10px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 15px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #4b6382;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    nav ul li a {
        font-size: 1em;
    }
}

#dataConsuption{

    background-color: #a4b5c4;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}
#dataConsuption h2{
    background-color:#3c949e;
    border-radius: 5px;
}

#tableConvertion{
    background-color: #d5f2f8;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 100%;
}
#textTable{
    background-color: #3c949e;
    border-radius: 5px;
}

#carouselExampleFade{
    text-align: center;
    background-color: #cdd5db ;
    border-radius: 5px;
    padding: 15px;
    width: 100%;

}

#textConsigli{
    background-color:#3c949e;
    border-radius: 5px;
}

.col{
    margin: 10px;
}

.row{
    margin: 10px;
}

/*
.rowTable1{
    
}
.rowTable2{
    
}
.rowTable3{
    
}
*/